.wrapper {
    border-radius: 16px;
    background: #2395ff;
    color: #fff;
    padding: 10px 36px;
    max-width: 128px;
    color: #ffff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    border: none;
}
