.mainpageWrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 8px 0 0 0;
}

.blockHeader {
    color: 000;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}
